.header{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 10px 0;
    
    @include respond(atMedium){
        background-color: rgba($mainBlue, 0.3);        
    }

    // header logo
    &__logo{
        background-color: $mainBlue;
        position: absolute;
        top: 0;
        padding: 1rem;
        left: 50%;
        transform: translateX(-50%) scale(.8);
        transform-origin: 50% 0;

         @include respond(atMedium){
             left: auto;
             transform: translateX(0) scale(1);
            
         }
    }
    // header-menu-icon
    &__menu-icon{
        width: 20px;
        height: 20px;
        background-color: $colorWhite;
        position: absolute;
        top: 10px;
        right: 10px;

        @include respond(atMedium){
            display: none;
        }
    }
    // header-content-menu
    &__content-menu{
        display: none;

        @include respond(atMedium){
            display: block;
        }
    }


    // header btn
    &___btn-container {
        float: right;
    }

    // primary-nav
    .primary-nav{

        &--pull-right{
            float: right;
        }

        ul{
            padding: 0;
            margin: 0;
            @include clearfix;            
        }

        li{
            list-style: none;
            float: left;
            padding-right: 1rem;
        }
        a{
            color: $colorWhite;
            text-decoration: none;
            font-weight: 300;
            margin: 12px 0;
            display: block;
        }
    }

}