.header {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    transition: all .3s ease-in-out;

    &--expanded {
        background-color: rgba($mainBlue, 0.55);

    }

    @include respond(atMedium) {
        padding: 10px 0;
        position: fixed;
        background-color: rgba($mainBlue, 0.3);

        &--dark {
            background-color: rgba($mainBlue, .9);
            box-shadow: 3px 2px 5px rgba(#000, .5);
            padding: 5px 0;
        }
    }

    // header logo
    &__logo {
        background-color: $mainBlue;
        position: absolute;
        top: 0;
        padding: 1rem;
        left: 50%;
        transform: translateX(-50%) scale(.8);
        transform-origin: 50% 0;
        transition: all .3s ease-out;

        @include respond(atMedium) {
            left: auto;
            transform: translateX(0) scale(1);

            .header--dark & {
                transform: scale(.56);
            }

        }
    }

    // header-menu-icon
    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 10px;
        cursor: pointer;

        @include respond(atMedium) {
            display: none;
        }

        &::before {
            width: 20px;
            height: 3px;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: $colorWhite;
            transform-origin: 0 0;
            transition: all 0.2s ease-out;
        }

        &__middle-bar {
            width: 20px;
            height: 3px;
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            background-color: $colorWhite;
            transform-origin: 0 50%;
            transition: all 0.2s ease-out;
        }

        &::after {
            width: 20px;
            height: 3px;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $colorWhite;
            transform-origin: 0 100%;
            transition: all 0.2s ease-out;
        }
    }

    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.25);

        }

        .header__menu-icon__middle-bar {
            opacity: 0;
            transform: scale(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);

        }
    }

    // header-menu-content
    &__menu-content {
        opacity: 0;
        z-index: -10;
        position: relative;
        transform: scale(1.25);
        transition: all .3s ease-out;
        padding-top: 85px;
        text-align: center;

        @include respond(atMedium) {
            padding-top: 0;
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }

        &--visible {
            opacity: 1;
            z-index: 1;
            transform: scale(1);


        }
    }


    // header btn
    &___btn-container {

        @include respond(atMedium) {

            float: right;
        }
    }

    // primary-nav
    .primary-nav {
        padding: 10px 0 10px;

        @include respond(atMedium) {
            padding: 0;
        }

        &--pull-right {

            @include respond(atMedium) {
                float: right;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            @include clearfix;
        }

        li {
            list-style: none;
            display: inline-block;
            padding-right: .4rem;

            @include respond(atMedium) {
                float: left;
                padding-right: 1rem;

            }
        }

        li:last-child {
            padding-right: 0;

            @include respond(atMedium) {
                padding-right: 1rem;
            }
        }

        a {
            color: $colorWhite;
            text-decoration: none;
            font-weight: 300;
            display: block;
            background-color: rgba($mainBlue, 1);
            padding: 5px;
            margin: 0 0 5px;
            font-size: 0.8rem;

            @include respond(atMedium) {
                padding: 0;
                font-size: 1rem;
                margin: 12px 0;
                font-weight: 400;
                background-color: transparent;

                &.is-current-link {
                    color: $mainOrange;
                }


            }
        }
    }

}