.wrapper {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    &--medium {
        max-width: 780px;
    }

    &--b-margin{
        margin-bottom: 1rem;
        @include respond(atMedium){
            margin-bottom: 3.5rem;
        }
    }

    .wrapper {
        padding: 0;
    }

}


.row {
    @include clearfix;
    
    &--gutters{
        margin-right: -50px;

    }

    &--gutters-large{
        margin-right: -100px;
    }

    &--gutters > div {
        padding-right: 50px;
    }

    &--gutters-large > div{
        padding-right: 100px;
    }
    
    .col-medium-4 {
        @include respond(atMedium){
            float: left;
            width: 33.33%;
        }
        &--larger {
            @include respond(atMedium) {
                width: 37%;
            }
        }
    }
    .col-large-4 {
        @include respond(atLarge) {
            float: left;
            width: 33.33%;
        }
    }
    .col-medium-6{
        @include respond(atMedium) {
            float: left;
            width: 50%;
        }
    }
    

    .col-medium-8 {        
        @include respond(atMedium) {
            float: left;
            width: 66.66%;
        }

        &--smaller{
            @include respond(atMedium) {
                width: 63%;
            }
        }
    }
    /* Equal height at medium */
    &--same-height-at-medium{
        @include respond(atLarge){
            display: flex;
        }

        & > div{

            @include respond(atLarge){
                display: flex;
                float: none;
            }
        }
    }
}


.page-section {
    padding: 2.5rem 0;


    @include respond(atSmall) {
        padding: 3.2rem 0;
    }

    @include respond(atMedium) {
        padding: 3.8rem 0;
    }

    @include respond(atLarge) {
        padding: 4.5rem 0;
    }

    &--blue {
        background-color: $mainBlue;
        color: #ffffff;
    }

    &--bg{

        background-color: #e0e6ef;

        @include respond(atLarge){
            background: url(../images/testimonials-bg.jpg) no-repeat top center;
            background-size: cover;
        }
    }
}