.headline{
    color: $mainBlue;
    font-size: 1.5rem;
    font-weight: 300;

    @include respond(atSmall){
    font-size: 2.875rem;
        }

    &--center{
        text-align: center;
    }

    &--light{
       font-weight: 100;
    }

    &--small{
        font-size: 1rem;

        @include respond(atSmall) {
            font-size: 1.875rem;
            }

    }
    &--orange{
        color: $mainOrange;
    }
    &--narrow{
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }

    &--b-margin-small{
        margin-bottom: 0.5em;
    }
    &--b-margin-large {
        margin-bottom: 1.6em;
    }
    &--no-t-margin{
        margin-top: 0;
    }

}
strong {
    font-weight: 400;
}
/*-- Section Heading --*/
.section-title{
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;

    @include respond(atMedium){
        font-size: 3.75rem;
    }

    &__icon{
        margin: 0 auto 0.5rem;        

        @include respond(atMedium){
            display: inline-block;
            margin: 0 0.5rem 0 0;            
        }
    }

    strong{
        font-weight: 500;
    }
}
